@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Kumbh Sans, sans-serif;
}

html {
    background:hsl(228, 45%, 44%);
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    /* background-repeat: no-repeat; */
    background-size: cover;
    /*To have the gradient fill the viewport, give the <html> element a min-height of 100%; Commented code works too */
    /* background-attachment: fixed; */
    min-height: 100%;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    font-size: 12px;
    color: hsl(240, 6%, 50%);
    line-height: 1.4em;
}

hr {
    background-color: hsl(240, 5%, 91%);
    height: 1px; 
    border: 0;
    margin: 10px 0;
}

.container{
    width: 900px;
    background-color: #ffff;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.illus, .faq{
    width: 50%;
}

.illus{
    overflow: hidden;
    height: 100%;
}

/* Illustrations for Desktop */

.box {
    position: relative;
}

.box .box-desktop{
    position: absolute;
    left: -7.3em;
    top: -2em;
    z-index: 1;
}

.illus .wm-desktop{
    position: relative;
    
}

.illus .wm-desktop .wm{
    position: absolute;
    right: 2.4em;
    top: 5em;
}

/* Illustrations for Mobile */

.illus .wm-mobile .wm-mb{
    width: 250px;
    margin-left: -2.6em;
    margin-top: -7em;
}

.illus .shadow-mobile .shadow-mb{
     margin-top: -4.6em;
}

.illus .bg{
     height: 500px;
     max-height: 600px;
}

.illus .bg .bg-pattern{
    height: 950px;
    /* object-fit: contain; */
    object-position: -37em -18em; 
}

/* FAQ */

.faq{
    margin: 2em;
}

.faq .faq-header{
    color: hsl(238, 29%, 16%);
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0.5em 0;
}

.dropdowns{
    width: 90%;
}

.dropdowns .collapsible{
    color: hsl(238, 29%, 16%);
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.collapsible:after {
    content: "";
    width: 30px;
    height: 20px;
    background: url("./images/icon-arrow-down.svg")no-repeat 10px 5px;
    /* position: absolute; */
    /* display: inline-block;  */
    float: right;
}

.active:after {
     background: url("./images/icon-arrow-down.svg")no-repeat 10px 5px;
     transform: rotate(180deg);
}

.dropdowns .collapsible.selected{
    font-weight: 700;
}

.dropdowns .collapsible:hover {
    color:hsl(14, 88%, 65%);
}

.content{
    padding: 8px 0;
    display: none;
    overflow: hidden;
}

.hidden {display: none;}
.visible {display: block;}

/* MOBILE VIEW */

@media (max-width: 900px){
    .container{
        width: 320px;
        flex-direction: column;
    }

    .visible {display: none;}
    .hidden {display: block;}
    
    .faq .faq-header{
        text-align: center;
        margin: 0 0 1em 0;
    }

    .faq{
        width: 85%;
        margin: 1.5em 1.5em 2.5em 1.5em;
    }

    .dropdowns{
        width: 100%;
    }

    .illus{
        overflow: visible;
    }

    .illus .shadow-mobile {
        display:flex;
        justify-content: center;
    }
}

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }