@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: 5px;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
